.password-input-box {
  position: relative;

  margin: 0;
}

.password-input {
  width: 300px;
  height: 40px;
  background: #fff;
  border: none;
  padding: 5px 15px 5px 15px;
  outline: none;
  border-radius: 5px;
  margin: 0;
  margin-right: 10px;
}

.password-input:focus {
  box-shadow: 0 0 0 3px blueviolet;
}

.show-password {
  position: absolute;
  left: 290px;
  top: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  color: blueviolet;
}

.password-checklist {
  display: block;
  width: 270px;
  padding: 18px 30px;
  background: lightblue;
  border-radius: 5px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: 0.5s ease;
}

.password-checklist-active {
  opacity: 1;
  transform: translateY(0);
}

.checklist {
  list-style: none;
}

.checklist-title {
  font-size: 15px;
  color: darkslateblue;
  margin-bottom: 10px;
}

.list-item {
  color: darkslateblue;
  font-size: 14px;
}

.list-item::before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  margin: 8px 0;
  width: 20px;
  font-size: 14px;
}

.list-item.checked {
  opacity: 0.7;
}

.list-item.checked::before {
  content: "\f00c";
  color: rgb(65, 172, 38);
}

.check-password-button {
  background-color: rgb(94, 28, 155);
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
